# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Env/venv
.env
venv/
.envrc
*.env.*

# Django
db.sqlite3
media/
staticfiles/
dump.rdb

# macOS
.DS_Store
__MACOSX/

# IDE
.idea/
.vscode/
*.code-workspace

# CarTap front
CarTap front/