/* Предотвращение горизонтального скролла */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


/* Корневой элемент */

#root {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}


/* Исправление для iOS Safari */

body {
    position: relative;
    /* Предотвращение bounce эффекта */
    overscroll-behavior-y: contain;
}


/* Убираем подсветку при нажатии на мобильных */

* {
    -webkit-tap-highlight-color: transparent;
}


/* Ant Design Layout исправления */

.ant-layout {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}


/* Убираем горизонтальный скролл у всех контейнеров */

.ant-layout-content {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}


/* Карточки не должны выходить за пределы экрана */

.ant-card {
    max-width: 100%;
    box-sizing: border-box;
}


/* Списки */

.ant-list {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.ant-list-item {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


/* Табы */

.ant-tabs {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


/* Формы */

.ant-form {
    width: 100%;
    max-width: 100%;
}


/* Мобильные исправления */

@media (max-width: 768px) {
    /* Убираем отступы по краям на мобильных если нужно */
    body {
        padding: 0;
        margin: 0;
    }
    /* Убираем горизонтальный скролл */
    html,
    body,
    #root {
        overflow-x: hidden;
        max-width: 100vw;
        position: relative;
    }
    /* Исправление для fixed элементов */
    .ant-layout-header,
    [style*="position: fixed"] {
        max-width: 100vw;
        left: 0;
        right: 0;
    }
    /* Нижнее меню */
    .bottom-nav {
        max-width: 100vw;
        width: 100vw;
        left: 0;
        right: 0;
    }
}


/* Smooth scrolling */

html {
    scroll-behavior: smooth;
}


/* Улучшение читабельности текста */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


/* Исправление для PWA / iOS Safari */

@supports (padding: max(0px)) {
    body {
        padding-left: max(0px, env(safe-area-inset-left));
        padding-right: max(0px, env(safe-area-inset-right));
    }
}


/* Убираем overflow у модальных окон */

.ant-modal-wrap {
    overflow-x: hidden;
}


/* Предотвращение двойного скролла */

.ant-layout-content {
    overflow-y: auto;
    overflow-x: hidden;
}